services:
  - type: web
    name: Moiz_portfolio
    runtime: php
    env: production
    region: oregon
    buildCommand: |
      composer install --optimize-autoloader --no-dev
      npm install
      npm run build
      php artisan migrate --force
    startCommand: php artisan serve --host 0.0.0.0 --port 8000
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: APP_KEY
        value: base64:N6AYwqK8NoD5Zv/R/qDtIcd7UEte311hgghvF00LqVo=
      - key: APP_URL
        value: https://portfolio-website-nk4z.onrender.com
